.mi_wrapper {
  width: 1226px;
  margin: 0 auto;
}

.kaola_wrapper {
  width: 850px;
  margin: 0 auto;
}

.clear_fix::after {
  content: '';
  display: block;
  clear: both;
  /* 更好的兼容 */
  height: 0;
  visibility: hidden;
}

.clear_fix {
  /* 兼容 IE6/7 的写法 */
  *zoom: 1;
}
